table {
  margin: auto;
    max-width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #da8a8a;
    margin-bottom: 0%;
    padding-bottom: 0%;
    /* border-bottom:1px solid rgb(204, 210, 216); */
}

th, td {
    text-align: left;
    padding: 8px;
}

th:nth-child(2){
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
td:nth-child(2){
  border-left: 1px solid #ddd;
}
td:nth-child(3){
  border-right: 1px solid #ddd;
}
th:nth-child(2){
  text-align: center;
}


.pending{
  justify-content: center;
}
/* table tr:nth-child(even){background-color: #f2f2f2} */

th{
  color: #da8a8a;
  background-color: #f7ebeb;
}

i{
  border: 1px solid rgb(84, 152, 207);

}
#bill{
  font-size: 20px;
  max-width: 300px;;
  /* border: 2px solid lightgreen; */
}
.bill-container{
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin: auto;
  margin-top: 0.4cm;
  color: rgb(105, 173, 105);
  background-color: rgb(213, 243, 227);
  height: 15%;
}



#addmem{
  height: 5%;
  margin-left: 2.5%;
  background-color: white;
  color: #da8a8a;
  border-bottom: 2px solid #da8a8a;;
  border-left: 2px solid #da8a8a;
  border-right: 2px solid #da8a8a;
  border-top: 2px solid #da8a8a;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.table-container{
  margin-top: 0.4cm;

}
#splitButton{
  background-color: rgb(105, 199, 86);
  color: white;
  border: 2px solid rgb(105, 199, 86);
  border-radius: 15px;
  height: 2em;
  margin: auto;
}
#bill-amt{
    font-size: 0.7cm;
    margin: auto;
    min-width: 10%;
    max-width: 50%;
    height: 50px;
    background-image: url(rupee.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-x: 85%;
    background-position-y: 45%;
    border: 3px solid rgb(105, 199, 86);
    border-radius: 14px;
    padding: 2px;
    padding-left: 1px;
    text-align: center;
    color: red;
}
.bill-container span{
  margin:auto;
  margin-right: 0%;
  font-size: 0.6cm;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-size: 70%;;
    color:    rgb(181, 184, 185);
    text-align: left;
    padding-left: 6px;
}

#table-header{
  border-bottom: 1px solid #ddd;
}

#header-container{
  background-color: #f7ebeb;
  padding-bottom: 0px;
  text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #b44f4f;
    line-height: 40px;
    height: 10%;
}

body{
    margin: auto;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
}

#rupee{
  max-height: 15px;
  text-align: left;
}
