.table-editable {
  position: relative;
  width: 100%;
}


.table-editable .glyphicon {
  font-size: 20px;
}

.table-remove {
  color: rgb(196, 189, 189);
  cursor: pointer;
}
.table-remove:hover {
  color: rgb(7, 6, 6);
}



.table-add {
  color: rgb(202, 141, 151);
  margin-top: 0%;
  right: 2px;;
  border-bottom: 2px solid rgb(202, 141, 151);
  border-left: 2px solid rgb(202, 141, 151);
  border-right: 2px solid rgb(202, 141, 151);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0.4em;
}
 .table-add:hover {
  color: rgb(233, 126, 55);
  cursor: pointer;
} 

.container{
  display: none;
  width: 100%;
  margin: auto;
  margin-top: 0.4cm;

}

.paid-in{
  text-align: left;
  width: 4em;
}

.paid-in ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  text-align: right;
}

.name{
  color: gray;
}